body {
  background-image: linear-gradient(to top, #214784, #60b5ff, #ffd3fd);
}

#scaler {
  transform: scale(.5,.5);
  transform-origin: 0 0;
  width:200vw;
}

.letter {
  height:350px;
  width: 290px;
  margin-left:50px;
  margin-top:50px;
  float:left;
  position: relative;
}

ANIMATION
.leftLeg div {
    transition: transform 200ms ease-in;
}
.leftLeg:hover div {
    transform:scale(0);
}

.rightLeg div {
    transition: transform 200ms ease-in;
}
.rightLeg:hover div {
    transform:scale(0);
}

.stem div {
    transition: transform 200ms ease-in;
}
.stem:hover div {
    transform:scale(0);
}

.bshape div {
    transition: transform 200ms ease-in;
}
.bshape:hover div {
    transform:scale(0);
}

.counter div {
    transition: transform 200ms ease-in;
}
.counter:hover div {
    transform:scale(0);
}

.dshape div {
    transition: transform 200ms ease-in;
}
.dshape:hover div {
    transform:scale(0);
}

.letteretop div {
    transition: transform 200ms ease-in;
}
.letteretop:hover div {
    transform:scale(0);
}

.letterebottom div {
    transition: transform 200ms ease-in;
}
.letterebottom:hover div {
    transform:scale(0);
}

.letterftop div {
    transition: transform 200ms ease-in;
}
.letterftop:hover div {
    transform:scale(0);
}

.letteristem div {
    transition: transform 200ms ease-in;
}
.letteristem:hover div {
    transform:scale(0);
}

.letteribottom div {
    transition: transform 200ms ease-in;
}
.letteribottom:hover div {
    transform:scale(0);
}

.letterjtop div {
    transition: transform 200ms ease-in;
}
.letterjtop:hover div {
    transform:scale(0);
}

.jshape div {
    transition: transform 200ms ease-in;
}
.jshape:hover div {
    transform:scale(0);
}

.kleftleg div {
    transition: transform 200ms ease-in;
}
.kleftleg:hover div {
    transform:scale(0);
}

.krightleg div {
    transition: transform 200ms ease-in;
}
.krightleg:hover div {
    transform:scale(0);
}

.krightleg2 div {
    transition: transform 200ms ease-in;
}
.krightleg2:hover div {
    transform:scale(0);
}

.letterlbottom div {
    transition: transform 200ms ease-in;
}
.letterlbottom:hover div {
    transform:scale(0);
}

.minnerleftleg div {
    transition: transform 200ms ease-in;
}
.minnerleftleg:hover div {
    transform:scale(0);
}

.minnerrightleg div {
    transition: transform 200ms ease-in;
}
.minnerrightleg:hover div {
    transform:scale(0);
}

.ninnerleftleg div {
    transition: transform 200ms ease-in;
}
.ninnerleftleg:hover div {
    transform:scale(0);
}

.rleg div {
    transition: transform 200ms ease-in;
}
.rleg:hover div {
    transform:scale(0);
}

.sshape div {
    transition: transform 200ms ease-in;
}
.sshape:hover div {
    transform:scale(0);
}

.ttop div {
    transition: transform 200ms ease-in;
}
.ttop:hover div {
    transform:scale(0);
}

.ushape div {
    transition: transform 200ms ease-in;
}
.ushape:hover div {
    transform:scale(0);
}

.winnerleft div {
    transition: transform 200ms ease-in;
}
.winnerleft:hover div {
    transform:scale(0);
}

.winnerright div {
    transition: transform 200ms ease-in;
}
.winnerright:hover div {
    transform:scale(0);
}

.yshape div {
    transition: transform 200ms ease-in;
}
.yshape:hover div {
    transform:scale(0);
}

.ztop div {
    transition: transform 200ms ease-in;
}
.ztop:hover div {
    transform:scale(0);
}

.zmiddle div {
    transition: transform 200ms ease-in;
}
.zmiddle:hover div {
    transform:scale(0);
}

.zbottom div {
    transition: transform 200ms ease-in;
}
.zbottom:hover div {
    transform:scale(0);
}

.twoshape div {
    transition: transform 200ms ease-in;
}
.twoshape:hover div {
    transform:scale(0);
}

.fiveshape div {
    transition: transform 200ms ease-in;
}
.fiveshape:hover div {
    transform:scale(0);
}

.sixshape div {
    transition: transform 200ms ease-in;
}
.sixshape:hover div {
    transform:scale(0);
}

.sshape div {
    transition: transform 200ms ease-in;
}
.sshape:hover div {
    transform:scale(0);
}

.quoteshape div {
    transition: transform 200ms ease-in;
}
.quoteshape:hover div {
    transform:scale(0);
}

.commashape div {
    transition: transform 200ms ease-in;
}
.commashape:hover div {
    transform:scale(0);
}

.questionshape div {
    transition: transform 200ms ease-in;
}
.questionshape:hover div {
    transform:scale(0);
}






.letter>* {
  position: absolute;
}
.stem {
  width:30px;
  transform-origin: 50% 100%;
  position: absolute;
}

/* CIRCLE */

.counter {
  height:390px;
  width:290px;
}

.counter .circle1 {
  position:absolute;
  top:-0.667px;
  left:32.333px;
}
.counter .circle1 {
  position:absolute;
  top:4.466px;
  left:106.898px;
}
.counter .circle2 {
  position:absolute;
  top:-0.235px;
  left:117.797px;
}
.counter .circle3 {
  position:absolute;
  top:4.262px;
  left:136.441px;
}
.counter .circle4 {
  position:absolute;
  top:23.138px;
  left:163.272px;
}
.counter .circle5 {
  position:absolute;
  top:39.659px;
  left:179.481px;
}
.counter .circle6 {
  position:absolute;
  top:47.687px;
  left:183.68px;
}
.counter .circle7 {
  position:absolute;
  top:67.973px;
  left:186.434px;
}
.counter .circle8 {
  position:absolute;
  top:97.216px;
  left:200.364px;
}
.counter .circle9 {
  position:absolute;
  top:118.43px;
  left:209.072px;
}
.counter .circle10 {
  position:absolute;
  top:129.473px;
  left:205.156px;
}
.counter .circle11 {
  position:absolute;
  top:149.869px;
  left:201.264px;
}
.counter .circle12 {
  position:absolute;
  top:180.738px;
  left:207.942px;
}
.counter .circle13 {
  position:absolute;
  top:201.765px;
  left:199.895px;
}
.counter .circle14 {
  position:absolute;
  top:232.065px;
  left:208.606px;
}
.counter .circle15 {
  position:absolute;
  top:242.829px;
  left:199.671px;
}
.counter .circle16 {
  position:absolute;
  top:263.431px;
  left:202.357px;
}
.counter .circle17 {
  position:absolute;
  top:271.82px;
  left:182.97px;
}
.counter .circle18 {
  position:absolute;
  top:301.653px;
  left:186.406px;
}
.counter .circle19 {
  position:absolute;
  top:308.024px;
  left:170.024px;
}
.counter .circle20 {
  position:absolute;
  top:315.214px;
  left:142.908px;
}
.counter .circle21 {
  position:absolute;
  top:330.194px;
  left:123.811px;
}
.counter .circle22 {
  position:absolute;
  top:340.871px;
  left:113.843px;
}
.counter .circle23 {
  position:absolute;
  top:332.061px;
  left:94.11px;
}
.counter .circle24 {
  position:absolute;
  top:338.649px;
  left:83.941px;
}
.counter .circle25 {
  position:absolute;
  top:324.489px;
  left:65.692px;
}
.counter .circle26 {
  position:absolute;
  top:303.512px;
  left:41.493px;
}
.counter .circle27 {
  position:absolute;
  top:306.082px;
  left:32.389px;
}
.counter .circle28 {
  position:absolute;
  top:286.127px;
  left:22.685px;
}
.counter .circle29 {
  position:absolute;
  top:279.587px;
  left:16.975px;
}
.counter .circle30 {
  position:absolute;
  top:248.346px;
  left:6.945px;
}
.counter .circle31 {
  position:absolute;
  top:228.898px;
  left:5.199px;
}
.counter .circle32 {
  position:absolute;
  top:198.196px;
  left:1.372px;
}
.counter .circle33 {
  position:absolute;
  top:178.19px;
  left:1.298px;
}
.counter .circle34 {
  position:absolute;
  top:147.283px;
  left:-0.337px;
}
.counter .circle35 {
  position:absolute;
  top:137.117px;
  left:2.495px;
}
.counter .circle36 {
  position:absolute;
  top:116.764px;
  left:2.652px;
}
.counter .circle37 {
  position:absolute;
  top:106.003px;
  left:5.862px;
}
.counter .circle38 {
  position:absolute;
  top:77.921px;
  left:6.778px;
}
.counter .circle39 {
  position:absolute;
  top:57.776px;
  left:17.443px;
}
.counter .circle40 {
  position:absolute;
  top:47.741px;
  left:27.397px;
}
.counter .circle41 {
  position:absolute;
  top:31.068px;
  left:32.805px;
}
.counter .circle42 {
  position:absolute;
  top:10.21px;
  left:47.51px;
}
.counter .circle43 {
  position:absolute;
  top:0.895px;
  left:77.061px;
}

.sshape {
  height: 390;
  width:390;
}


/* BOWL */
.bowl {
  position:absolute;
  left:20px;
  height:220px;
  width:220px;
}

/* BOWL */
.bowl .circle1 {
    position:absolute;
    top:-0.667px;
    left:32.333px;
}
.bowl .circle2 {
    position:absolute;
    top: -1.146px;
    left:55.875px;
}
.bowl .circle3 {
    position:absolute;
    top:-0.781px;
    left:81.599px;
}
.bowl .circle5 {
  position:absolute;
  top:0.753px;
  left:106.836px;
}
.bowl .circle6 {
  position:absolute;
  top:6.133px;
  left:131.122px;
}
.bowl .circle7 {
  position:absolute;
  top: 17.112px;
  left:154.5px;
}
.bowl .circle8 {
  position:absolute;
  top:32.958px;
  left:170.755px;
}
.bowl .circle9 {
  position:absolute;
  top:52.482px;
  left:182.164px;
}
.bowl .circle10 {
  position:absolute;
  top:72.125px;
  left:187.802px;
}
.bowl .circle11 {
  position:absolute;
  top:92.354px;
  left:186.49px;
}
.bowl .circle12 {
  position:absolute;
  top:112.206px;
  left:181.276px;
}
.bowl .circle13 {
  position:absolute;
  top:130.206px;
  left:165.268px;
}
.bowl .circle14 {
  position:absolute;
  top:142.445px;
  left:145.284px;
}
.bowl .circle15 {
  position:absolute;
  top:150.794px;
  left:122.19px;
}
.bowl .circle16 {
  position:absolute;
  top:152.909px;
  left:101.729px;
}
.bowl .circle17 {
  position:absolute;
  top:154.589px;
  left:80.133px;
}
.bowl .circle18 {
  position:absolute;
  top:155.141px;
  left:55.529px;
}
.bowl .circle19 {
  position:absolute;
  top:156.719px;
  left:34.385px;
}

/* ********** LETTER A ********** */
.a {
  width:257px;
}
.a .stem.rightLeg {
  transform: scaleX(-1) rotate(21deg);
  bottom: 0;
  left: 229px;
}
.a .stem.leftLeg {
  transform: rotate(21deg);
  bottom: 0;
  left: 0;
}
.crossbar {
  transform: rotate(90deg);
  bottom: 52px;
  left: 115px;
}
/* ********** LETTER B ********** */
.b {
  width:235px;
}

.b .bshape {
  width: 290px;
  height: 290px;
}
.bshape .circle1 {
  position:absolute;
  top:5.22px;
  left:41.807px;
}
.bshape .circle2 {
  position:absolute;
  top:1.119px;
  left:52.797px;
}
.bshape .circle3 {
  position:absolute;
  top:-1.096px;
  left:74.017px;
}
.bshape .circle4 {
  position:absolute;
  top:4.414px;
  left:104.434px;
}
.bshape .circle5 {
  position:absolute;
  top:11.536px;
  left:125.288px;
}
.bshape .circle6 {
  position:absolute;
  top:9.073px;
  left:136.141px;
}
.bshape .circle7 {
  position:absolute;
  top:17.097px;
  left:153.19px;
}
.bshape .circle8 {
  position:absolute;
  top:39.882px;
  left:177.075px;
}
.bshape .circle9 {
  position:absolute;
  top:59.634px;
  left:190.068px;
}
.bshape .circle10 {
  position:absolute;
  top:70.902px;
  left:188.604px;
}
.bshape .circle11 {
  position:absolute;
  top:91.365px;
  left:174.946px;
}
.bshape .circle12 {
  position:absolute;
  top:116.877px;
  left:164.434px;
}
.bshape .circle13 {
  position:absolute;
  top:122.683px;
  left:136.261px;
}
.bshape .circle14 {
  position:absolute;
  top:143.267px;
  left:125.751px;
}
.bshape .circle15 {
  position:absolute;
  top:138.804px;
  left:104.434px;
}
.bshape .circle16 {
  position:absolute;
  top:147.341px;
  left:93.166px;
}
.bshape .circle17 {
  position:absolute;
  top:136.122px;
  left:61.993px;
}
.bshape .circle18 {
  position:absolute;
  top:147.341px;
  left:50.727px;
}
.bshape .circle19 {
  position:absolute;
  top:141.633px;
  left:29.459px;
}
/* .bshape .circle20 {
  position:absolute;
  top:px;
  left:px;
} */
.bshape .circle21 {
  position:absolute;
  top:150.706px;
  left:156.239px;
}
.bshape .circle22 {
  position:absolute;
  top:165.145px;
  left:175.507px;
}
.bshape .circle23 {
  position:absolute;
  top:171.34px;
  left:183.531px;
}
.bshape .circle24 {
  position:absolute;
  top:188.365px;
  left:200.726px;
}
.bshape .circle25 {
  position:absolute;
  top:198.926px;
  left:202.629px;
}
.bshape .circle26 {
  position:absolute;
  top:221px;
  left:202.041px;
}
.bshape .circle27 {
  position:absolute;
  top:253.56px;
  left:214.165px;
}
.bshape .circle28 {
  position:absolute;
  top:265.706px;
  left:206.458px;
}
.bshape .circle29 {
  position:absolute;
  top:287.096px;
  left:204.214px;
}
.bshape .circle30 {
  position:absolute;
  top:293.146px;
  left:177.992px;
}
.bshape .circle31 {
  position:absolute;
  top:312.803px;
  left:160.312px;
}
.bshape .circle32 {
  position:absolute;
  top:312.047px;
  left:129.141px;
}
.bshape .circle33 {
  position:absolute;
  top:323.413px;
  left:107.971px;
}
.bshape .circle34 {
  position:absolute;
  top:317.195px;
  left:76.139px;
}
.bshape .circle35 {
  position:absolute;
  top:329.828px;
  left:65.166px;
}
.bshape .circle36 {
  position:absolute;
  top:323.998px;
  left:42.898px;
}
.bshape .circle37 {
  position:absolute;
  top:329.998px;
  left:30.971px;
}


/* ********** LETTER C ********** */
.c {
  width:226px;
}
.c .counter {
  width:290px;
}

/* ********** LETTER D ********** */
.d {
  width:238px;
}

.d .bowl {
  width:290px;
}

/* D SHAPE */
.dshape {
  width:390;
  height:390;
}

.dshape .circle2 {
  position:absolute;
  top:5.466px;
  left:43.104;
}
.dshape .circle3 {
  position:absolute;
  top:-0.883px;
  left:64.277px;
}
.dshape .circle4 {
  position:absolute;
  top:5.576px;
  left:94.893px;
}
.dshape .circle5 {
  position:absolute;
  top:13.942px;
  left:115.283px;
}
.dshape .circle6 {
  position:absolute;
  top:14.188px;
  left:125.817px;
}
.dshape .circle7 {
  position:absolute;
  top:21.728px;
  left:144.691px;
}
.dshape .circle8 {
  position:absolute;
  top:40.148px;
  left:171.229px;
}
.dshape .circle9 {
  position:absolute;
  top:57.921px;
  left:187.08px;
}
.dshape .circle10 {
  position:absolute;
  top:67.236px;
  left:189.898px;
}
.dshape .circle11 {
  position:absolute;
  top:86.166px;
  left:194.413px;
}
.dshape .circle12 {
  position:absolute;
  top:155.939px;
  left:206.96px;
}
.dshape .circle13 {
  position:absolute;
  top:136.974px;
  left:204.042px;
}
.dshape .circle14 {
  position:absolute;
  top:167.36px;
  left:216.387px;
}
.dshape .circle15 {
  position:absolute;
  top:178.396px;
  left:210.069px;
}
.dshape .circle16 {
  position:absolute;
  top:199.818px;
  left:214.302px;
}
.dshape .circle17 {
  position:absolute;
  top:210.241px;
  left:199.76px;
}
.dshape .circle18 {
  position:absolute;
  top:241.237px;
  left:206.499px;
}
.dshape .circle19 {
  position:absolute;
  top:251.055px;
  left:194.444px;
}
.dshape .circle20 {
  position:absolute;
  top:269.235px;
  left:177.399px;
}
.dshape .circle21 {
  position:absolute;
  top:297.146px;
  left:177.223px;
}
.dshape .circle22 {
  position:absolute;
  top:302.913px;
  left:159.762px;
}
.dshape .circle23 {
  position:absolute;
  top:316.576px;
  left:150.272px;
}
.dshape .circle24 {
  position:absolute;
  top:316.212px;
  left:129.479px;
}
.dshape .circle25 {
  position:absolute;
  top:315.86px;
  left:99.375px;
}
.dshape .circle26 {
  position:absolute;
  top:330.21px;
  left:89.322px;
}
.dshape .circle27 {
  position:absolute;
  top:325.274px;
  left:68.416px;
}
.dshape .circle28 {
  position:absolute;
  top:331.278px;
  left:57.502px;
}
.dshape .circle29 {
  position:absolute;
  top:317.798px;
  left:25.645px;
}

/* ********** LETTER E ********** */
.e {
    width:211px;
}
.letteretop {
  transform: scaleX(-1) rotate(90deg);
  bottom: 240px;
  left: 94px;
}
.e .crossbar {
  transform: rotate(90deg);
  bottom: 116px;
  left: 68px;
}
.letterebottom {
  transform: rotate(90deg) scaleX(-1);
  bottom: -82px;
  left: 94px;
}

/* ********** LETTER F ********** */
.f {
    width:209px;
}
.letterftop {
  transform: scaleX(-1) rotate(90deg);
  bottom: 241px;
  left:94px;
}

.f .crossbar {
  transform: rotate(90deg);
  bottom: 116px;
  left: 65px;
}
/* ********** LETTER G ********** */
.g {
  width:255px;
}
.g .crossbar {
  transform: rotate(90deg);
  bottom: 85px;
  left: 156px;
}
.g .counter {
  width:290px;
}
/* ********** LETTER H ********** */
.h {
  width:235px;
}

.h .crossbar {
  /* transform: rotate(90deg)scaleX(-1); */
  bottom: 112px;
  left: 101px;
}

.h .stem.rightLeg {
  left: 202px;
  transform: scaleX(-1);
}
/* ********** LETTER I ********** */
.i {
    width:248px;
}

.letteristem {
  left: 110px;
  bottom: 0px;
}

.letteritop {
  transform: scaleX(-1) rotate(90deg);
  bottom: 215px;
  left: 112px;
}

.letteribottom {
  transform: rotate(90deg) scaleX(-1);
  bottom: -107px;
  left: 112px;
}
/* ********** LETTER J ********** */
.j {
    width:246px;
}

.letterjtop {
  transform: scaleX(-1) rotate(90deg);
  bottom: 237px;
  left: 123px;
}
.jshape {
  width:390px;
  top:20px;
}
.jshape .circle1 {
  position:absolute;
  top:-0.259px;
  left:159.223px;
}
.jshape .circle2 {
  position:absolute;
  top:11.146px;
  left:154.522px;
}
.jshape .circle3 {
  position:absolute;
  top:31.934px;
  left:149.14px;
}
.jshape .circle4 {
  position:absolute;
  top:62.888px;
  left:153.786px;
}
.jshape .circle5 {
  position:absolute;
  top:83.406px;
  left:158.685px;
}
.jshape .circle6 {
  position:absolute;
  top:94.374px;
  left:153.685px;
}
.jshape .circle7 {
  position:absolute;
  top:115.625px;
  left:149.14px;
}
.jshape .circle8 {
  position:absolute;
  top:146.13px;
  left:154.236px;
}
.jshape .circle9 {
  position:absolute;
  top:167.097px;
  left:158.865px;
}
.jshape .circle10 {
  position:absolute;
  top:178.065px;
  left:153.685px;
}
.jshape .circle11 {
  position:absolute;
  top:199.317px;
  left:149.69px;
}
.jshape .circle12 {
  position:absolute;
  top:230.372px;
  left:156.888px;
}
.jshape .circle13 {
  position:absolute;
  top:251.073px;
  left:149.69px;
}
.jshape .circle14 {
  position:absolute;
  top:282.072px;
  left:157.831px;
}
.jshape .circle15 {
  position:absolute;
  top:292.59px;
  left:148.73px;
}
.jshape .circle16 {
  position:absolute;
  top:311.95px;
  left:148.224px;
}
.jshape .circle17 {
  position:absolute;
  top:308.336px;
  left:118.306px;
}
.jshape .circle18 {
  position:absolute;
  top:332.828px;
  left:112.985px;
}
.jshape .circle19 {
  position:absolute;
  top:327.828px;
  left:92.569px;
}
.jshape .circle20 {
  position:absolute;
  top:318.974px;
  left:61.69px;
}
.jshape .circle21 {
  position:absolute;
  top:320.12px;
  left:40.812px;
}
.jshape .circle22 {
  position:absolute;
  top:316.861px;
  left:30.395px;
}
.jshape .circle23 {
  position:absolute;
  top:296.994px;
  left:18.238px;
}
.jshape .circle24 {
  position:absolute;
  top:286.578px;
  left:18.327px;
}
.jshape .circle25 {
  position:absolute;
  top:265.61px;
  left:11.08px;
}

/* ********** LETTER K ********** */
.k {
  width:290px;
}

.krightleg {
  transform: scaleX(-1) rotate(131deg);
  left: 98px;
  bottom: 151px;
}
.krightleg2 {
  transform: scaleX(-1) rotate(43deg);
  left: 160px;
  bottom: -49px;

}

/* ********** LETTER L ********** */
.l {
    width:223px;
}
.letterlbottom {
  transform: rotate(90deg);
  bottom: -77px;
  left: 110px;
}
/* ********** LETTER M ********** */
.m {
  width:290px;
}
.minnerleftleg {
  transform: rotate(159deg);
  left:61px;
}
.minnerrightleg {
  transform: scaleX(-1) rotate(158deg);
  left: 202px;
}
.m .stem.rightLeg {
  left: 265px;
  transform: scaleX(-1);
}
/* ********** LETTER N ********** */
.n {
  width:290px;
}
.ninnerleftleg {
  transform: rotate(148deg);
  left: 85px;
}
.n .stem.rightLeg {
  left: 205px;
}
/* ********** LETTER O ********** */
.o {
  width:230px;
}

.o .bowl {
  width:290px;
}
/* ********** LETTER P ********** */
.p {
    width:211px;
}

.p .bowl {
 width: 290px;
}
/* ********** LETTER Q ********** */
.q {
    width:274px;
}
.q .crossbar {
  transform: rotate(133deg);
  left: 247px;
  top: 354px;
}
/* ********** LETTER R ********** */
.r {
    width:268px;
}
.rleg {
  transform: rotate(143deg);
  left: 181px;
  top: 141px;
}
.r .bowl {
 width: 290px;
}
/* ********** LETTER S ********** */
.s {
  width:217px
}
/* S SHAPE */
.sshape .circle2 {
  position:absolute;
  top:19.545px;
  left:169.232px;
}
.sshape .circle3 {
  position:absolute;
  top:5.648px;
  left:140.673px;
}
.sshape .circle4 {
  position:absolute;
  top:4.166px;
  left:121.337px;
}
.sshape .circle5 {
  position:absolute;
  top:7.935px;
  left:111.169px;
}
.sshape .circle6 {
  position:absolute;
  top:3.726px;
  left:91.018px;
}
.sshape .circle7 {
  position:absolute;
  top:4.769px;
  left:61.58px;
}
.sshape .circle8 {
  position:absolute;
  top:20.513px;
  left:43.641px;
}
.sshape .circle9 {
  position:absolute;
  top:35.82px;
  left:36.649px;
}
.sshape .circle10 {
  position:absolute;
  top:43.272px;
  left:22.03px;
}
.sshape .circle11 {
  position:absolute;
  top:62.013px;
  left:6.215px;
}
.sshape .circle12 {
  position:absolute;
  top:91.566px;
  left:4.567px;
}
.sshape .circle13 {
  position:absolute;
  top:110.666px;
  left:8.412px;
}
.sshape .circle14 {
  position:absolute;
  top:135.072px;
  left:33.386px;
}
.sshape .circle15 {
  position:absolute;
  top:137.704px;
  left:42.355px;
}
.sshape .circle16 {
  position:absolute;
  top:147.909px;
  left:62.383px;
}
.sshape .circle17 {
  position:absolute;
  top:144.061px;
  left:72.126px;
}
.sshape .circle18 {
  position:absolute;
  top:157.137px;
  left:101.929px;
}
.sshape .circle19 {
  position:absolute;
  top:153.523px;
  left:112.221px;
}
.sshape .circle20 {
  position:absolute;
  top:159.001px;
  left:130.567px;
}
.sshape .circle21 {
  position:absolute;
  top:175.054px;
  left:158.359px;
}
.sshape .circle22 {
  position:absolute;
  top:187.475px;
  left:176.958px;
}
.sshape .circle23 {
  position:absolute;
  top:194.76px;
  left:182.175px;
}
.sshape .circle24 {
  position:absolute;
  top:212.941px;
  left:195.523px;
}
.sshape .circle25 {
  position:absolute;
  top:223.322px;
  left:193.16px;
}
.sshape .circle26 {
  position:absolute;
  top:244.245px;
  left:185.932px;
}
.sshape .circle27 {
  position:absolute;
  top:274.458px;
  left:194.205px;
}
.sshape .circle28 {
  position:absolute;
  top:284.399px;
  left:183.494px;
}
.sshape .circle29 {
  position:absolute;
  top:302.338px;
  left:178.901px;
}
.sshape .circle30 {
  position:absolute;
  top:305.323px;
  left:152.537px;
}
.sshape .circle31 {
  position:absolute;
  top:322.188px;
  left:135.159px;
}
.sshape .circle32 {
  position:absolute;
  top:319.384px;
  left:104.642px;
}
.sshape .circle33 {
  position:absolute;
  top:324.385px;
  left:83.748px;
}
.sshape .circle34 {
  position:absolute;
  top:314.552px;
  left:53.263px;
}
.sshape .circle35 {
  position:absolute;
  top:320.353px;
  left:42.685px;
}
.sshape .circle36 {
  position:absolute;
  top:308.127px;
  left:23.55px;
}
.sshape .circle37 {
  position:absolute;
  top:306.732px;
  left:14.124px;
}

/* ********** LETTER T ********** */
.t {
  width:236px;
}
.t .stem.leftLeg {
  left: 106px;
}
.ttop {
  transform: rotate(90deg);
  top: -95px;
  left:96px;
}
/* ********** LETTER U ********** */
.u {
  width:244px;
}
.ushape {

}
.ushape .circle1 {
  position:absolute;
  top:2.008px;
  left:12.999px;
}
.ushape .circle2 {
  position:absolute;
  top:14.058px;
  left:7.162px;
}
.ushape .circle3 {
  position:absolute;
  top:35.814px;
  left:2.162px;
}
.ushape .circle4 {
  position:absolute;
  top:68.111px;
  left:6.289px;
}
.ushape .circle5 {
  position:absolute;
  top:92.039px;
  left:10.289px;
}
.ushape .circle6 {
  position:absolute;
  top:105.527px;
  left:5.029px;
}
.ushape .circle7 {
  position:absolute;
  top:127.823px;
  left:1.162px;
}
.ushape .circle8 {
  position:absolute;
  top:160.058px;
  left:5.289px;
}
.ushape .circle9 {
  position:absolute;
  top:182.86px;
  left:9.226px;
}
.ushape .circle10 {
  position:absolute;
  top:195.049px;
  left:6.126px;
}
.ushape .circle11 {
  position:absolute;
  top:217.22px;
  left:2.099px;
}
.ushape .circle12 {
  position:absolute;
  top:249.518px;
  left:9.91px;
}
.ushape .circle13 {
  position:absolute;
  top:270.5px;
  left:12.28px;
}
.ushape .circle14 {
  position:absolute;
  top:301.924px;
  left:30.217px;
}
.ushape .circle15 {
  position:absolute;
  top:310.915px;
  left:37.082px;
}
.ushape .circle16 {
  position:absolute;
  top:327.031px;
  left:57.576px;
}
.ushape .circle17 {
  position:absolute;
  top:319.347px;
  left:69.559px;
}
.ushape .circle18 {
  position:absolute;
  top:335.843px;
  left:101.794px;
}
.ushape .circle19 {
  position:absolute;
  top:329.098px;
  left:114.99px;
}
.ushape .circle20 {
  position:absolute;
  top:320.284px;
  left:138.893px;
}
.ushape .circle21 {
  position:absolute;
  top:317.789px;
  left:171.065px;
}
.ushape .circle22 {
  position:absolute;
  top:313.608px;
  left:193.119px;
}
.ushape .circle23 {
  position:absolute;
  top:294.554px;
  left:200.299px;
}
.ushape .circle24 {
  position:absolute;
  top:280.689px;
  left:213.785px;
}
.ushape .circle25 {
  position:absolute;
  top:256.887px;
  left:213.353px;
}
.ushape .circle26 {
  position:absolute;
  top:223.779px;
  left:209.912px;
}
.ushape .circle27 {
  position:absolute;
  top:210.734px;
  left:220.912px;
}
.ushape .circle28 {
  position:absolute;
  top:188.49px;
  left:216.849px;
}
.ushape .circle29 {
  position:absolute;
  top:175.687px;
  left:221.91px;
}
.ushape .circle30 {
  position:absolute;
  top:143.201px;
  left:212.784px;
}
.ushape .circle31 {
  position:absolute;
  top:119.768px;
  left:217.975px;
}
.ushape .circle32 {
  position:absolute;
  top:86.985px;
  left:210.911px;
}
.ushape .circle33 {
  position:absolute;
  top:64.814px;
  left:214.849px;
}
.ushape .circle34 {
  position:absolute;
  top:32.642px;
  left:210.911px;
}
.ushape .circle35 {
  position:absolute;
  top:20.156px;
  left:221.975px;
}
.ushape .circle36 {
  position:absolute;
  top:-1.709px;
  left:216.975px;
}

/* ********** LETTER V ********** */
.v {
  width:290px;
}

.v>.leftLeg {
  transform: rotate(-21deg) scaleX(-1);
      left: 131px;
      top: 0;
}
.v>.rightLeg {
  transform: rotate(22deg);
  left: 146px;
  top: 0px;
}
/* ********** LETTER W ********** */
.w {
  width:393px;
}

.w .stem.leftLeg {
  transform: rotate(159deg);
left: -9px;
top: -316px;
}
.winnerleft {
  transform: rotate(-159deg);
  left: 145px;
  top: 174px;
}
.winnerright {
  transform: rotate(159deg) scaleX(-1);
  left: 226px;
  top: 174px;
}
.w .stem.rightLeg {
  transform: rotate(-159deg) scaleX(-1);
      left: 380px;
      top: -316px;
}
/* ********** LETTER X ********** */
.x {
   width:205px;
}

.x .stem.leftLeg {
  transform: rotate(-150deg) scaleX(-1);
  left: 172px;
  top: -299px;
}
.x .stem.rightLeg {
  transform: rotate(150deg);
  left: -7px;
  top: -299px;
}
/* ********** LETTER Y ********** */
.y {
   width:261px;
}
.yshape .circle1 {
  position:absolute;
  top:1.521px;
  left:0.066px;
}
.yshape .circle2 {
  position:absolute;
  top:9.193px;
  left:4.94px;
}
.yshape .circle3 {
  position:absolute;
  top:25.637px;
  left:16.248px;
}
.yshape .circle4 {
  position:absolute;
  top:55.006px;
  left:33.93px;
}
.yshape .circle5 {
  position:absolute;
  top:75.602px;
  left:46.854px;
}
.yshape .circle6 {
  position:absolute;
  top:84.425px;
  left:51.476px;
}
.yshape .circle7 {
  position:absolute;
  top:102.643px;
  left:61.097px;
}
.yshape .circle8 {
  position:absolute;
  top:132.083px;
  left:77.884px;
}
.yshape .circle9 {
  position:absolute;
  top:151.507px;
  left:92.542px;
}
.yshape .circle10 {
  position:absolute;
  top:160.279px;
  left:98.264px;
}
.yshape .circle11 {
  position:absolute;
  top:173.8px;
  left:116.279px;
}
.yshape .circle12 {
  position:absolute;
  top:207.068px;
  left:121.91px;
}
.yshape .circle13 {
  position:absolute;
  top:230.828px;
  left:117.042px;
}
.yshape .circle14 {
  position:absolute;
  top:264.578px;
  left:126.658px;
}
.yshape .circle15 {
  position:absolute;
  top:278.348px;
  left:121.366px;
}
.yshape .circle16 {
  position:absolute;
  top:302.25px;
  left:126.57px;
}
.yshape .circle17 {
  position:absolute;
  top:316.716px;
  left:115.836px;
}
.yshape .circle18 {
  position:absolute;
  top:165.38px;
  left:144.204px;
}
.yshape .circle19 {
  position:absolute;
  top:145.683px;
  left:148.926px;
}
.yshape .circle20 {
  position:absolute;
  top:115.433px;
  left:159.743px;
}
.yshape .circle21 {
  position:absolute;
  top:96.92px;
  left:180.244px;
}
.yshape .circle22 {
  position:absolute;
  top:85.35px;
  left:194.168px;
}
.yshape .circle23 {
  position:absolute;
  top:63.779px;
  left:200.042px;
}
.yshape .circle24 {
  position:absolute;
  top:52.208px;
  left:212.714px;
}
.yshape .circle25 {
  position:absolute;
  top:31.688px;
  left:218.537px;
}
.yshape .circle26 {
  position:absolute;
  top:0.294px;
  left:227.78px;
}

/* ********** LETTER Z ********** */
.z {
    width:290px;
}
.ztop {
  transform: rotate(90deg);
  left: 0px;
  top: -72px;
}
.zmiddle {
transform: rotate(30deg);
left:0px;
top:0px
}
.zbottom {
  transform: rotate(90deg);
  left: -8px;
  top: 200px;
}


/* ********** 1 ********** */
.one {
  width:187px;
}
.one .stem.leftLeg {
  left: 0px;
  transform: scaleX(-1);
}
/* ********** 2 ********** */
.two {
  width:290px;
}
/* ********** 3 ********** */
.three {
  width:233px;
}

/* ********** 4 ********** */
.four {
  width:224px;
}
.four .stem.rightLeg {
  left: 167px;
  transform: scaleX(-1);
}
.four .crossbar {
  transform: rotate(90deg);
  left:56px;
  top:0px;
}
.fourface {
  top:0;
  left:29px;
  transform: rotate(30deg);
}
/* ********** 5 ********** */
.five {
  width:198px;
}
.fiveshape .circle1 {
  position:absolute;
  top:7.737px;
  left:164.287px;
}
.fiveshape .circle2 {
  position:absolute;
  top:1.383px;
  left:143.509px;
}
.fiveshape .circle3 {
  position:absolute;
  top:-4.293px;
  left:113.089px;
}
.fiveshape .circle4 {
  position:absolute;
  top:1.383px;
  left:91.774px;
}
.fiveshape .circle5 {
  position:absolute;
  top:6.899px;
  left:80.089px;
}
.fiveshape .circle6 {
  position:absolute;
  top:1.383px;
  left:58.28px;
}
.fiveshape .circle7 {
  position:absolute;
  top:-5.152px;
  left:27.861px;
}
.fiveshape .circle8 {
  position:absolute;
  top:0.785px;
  left:6.545px;
}
.fiveshape .circle9 {
  position:absolute;
  top:22.364px;
  left:6.741px;
}
.fiveshape .circle10 {
  position:absolute;
  top:33.877px;
  left:2.283px;
}
.fiveshape .circle11 {
  position:absolute;
  top:53.975px;
  left:1.759px;
}
.fiveshape .circle12 {
  position:absolute;
  top:85.012px;
  left:2.446px;
}
.fiveshape .circle13 {
  position:absolute;
  top:105.112px;
  left:1.759px;
}
.fiveshape .circle14 {
  position:absolute;
  top:135.824px;
  left:9.414px;
}
.fiveshape .circle15 {
  position:absolute;
  top:146.803px;
  left:5.109px;
}
.fiveshape .circle16 {
  position:absolute;
  top:141.684px;
  left:23.264px;
}
.fiveshape .circle17 {
  position:absolute;
  top:124.289px;
  left:33.72px;
}
.fiveshape .circle18 {
  position:absolute;
  top:131.563px;
  left:64.28px;
}
.fiveshape .circle19 {
  position:absolute;
  top:124.963px;
  left:75.423px;
}
.fiveshape .circle20 {
  position:absolute;
  top:124.822px;
  left:96.004px;
}
.fiveshape .circle21 {
  position:absolute;
  top:140.41px;
  left:124.962px;
}
.fiveshape .circle22 {
  position:absolute;
  top:153.403px;
  left:143.649px;
}
.fiveshape .circle23 {
  position:absolute;
  top:160.119px;
  left:149.465px;
}
.fiveshape .circle24 {
  position:absolute;
  top:178.971px;
  left:163.891px;
}
.fiveshape .circle25 {
  position:absolute;
  top:188.354px;
  left:166.349px;
}
.fiveshape .circle26 {
  position:absolute;
  top:209.518px;
  left:164.759px;
}
.fiveshape .circle27 {
  position:absolute;
  top:240.164px;
  left:173.881px;
}
.fiveshape .circle28 {
  position:absolute;
  top:251.21px;
  left:166.349px;
}
.fiveshape .circle29 {
  position:absolute;
  top:272.19px;
  left:167.087px;
}
.fiveshape .circle30 {
  position:absolute;
  top:280.897px;
  left:146.583px;
}
.fiveshape .circle31 {
  position:absolute;
  top:305.011px;
  left:132.79px;
}
.fiveshape .circle32 {
  position:absolute;
  top:311.26px;
  left:103.968px;
}
.fiveshape .circle33 {
  position:absolute;
  top:324.187px;
  left:83.783px;
}
.fiveshape .circle34 {
  position:absolute;
  top:318.184px;
  left:52.299px;
}
.fiveshape .circle35 {
  position:absolute;
  top:325.991px;
  left:40.842px;
}
.fiveshape .circle36 {
  position:absolute;
  top:315.132px;
  left:20.927px;
}
.fiveshape .circle37 {
  position:absolute;
  top:313.739px;
  left:11.339px;
}
.fiveshape .circle38 {
  position:absolute;
  top:289.952px;
  left:-14.286px;
}

/* ********** 6 ********** */
.six {
  width:227px;
}
/* SIX SHAPE */
.sixshape .circle1 {
  position:absolute;
  top:23.884px;
  left:186.487px;

}
.sixshape .circle2 {
  position:absolute;
  top:9.967px;
  left:168.42px;

}
.sixshape .circle3 {
  position:absolute;
  top:-2.886px;
  left:138.562px;
}
.sixshape .circle4 {
  position:absolute;
  top:-1.15px;
  left:117.987px;
}
.sixshape .circle5 {
  position:absolute;
  top:1.082px;
  left:106.329px;
}
.sixshape .circle6 {
  position:absolute;
  top:0.456px;
  left:84.741px;
}
.sixshape .circle7 {
  position:absolute;
  top:8.276px;
  left:55.477px;
}
.sixshape .circle8 {
  position:absolute;
  top:27.095px;
  left:37.747px;
}
.sixshape .circle9 {
  position:absolute;
  top:44.541px;
  left:32.089px;
}
.sixshape .circle10 {
  position:absolute;
  top:54.896px;
  left:19.947px;
}
.sixshape .circle11 {
  position:absolute;
  top:74.232px;
  left:5.805px;
}
.sixshape .circle12 {
  position:absolute;
  top:6.296px;
  left:105.439px;
}
.sixshape .circle13 {
  position:absolute;
  top:127.439px;
  left:0.359px;
}
.sixshape .circle14 {
  position:absolute;
  top:159.168px;
  left:4.217px;
}
.sixshape .circle15 {
  position:absolute;
  top:171.594px;
  left:0.056px;
}
.sixshape .circle16 {
  position:absolute;
  top:194.253px;
  left:1.056px;
}
.sixshape .circle17 {
  position:absolute;
  top:205.75px;
  left:-2.337px;
}
.sixshape .circle18 {
  position:absolute;
  top:232.015px;
  left:7.198px;
}
.sixshape .circle19 {
  position:absolute;
  top:248.37px;
  left:8.572px;
}
.sixshape .circle20 {
  position:absolute;
  top:267.17px;
  left:16.321px;
}
.sixshape .circle21 {
  position:absolute;
  top:297.971px;
  left:29.908px;
}
.sixshape .circle22 {
  position:absolute;
  top:317.629px;
  left:44.889px;
}
.sixshape .circle23 {
  position:absolute;
  top:318.235px;
  left:56.818px;
}
.sixshape .circle24 {
  position:absolute;
  top:333.591px;
  left:74.851px;
}
.sixshape .circle25 {
  position:absolute;
  top:328.984px;
  left:86.974px;
}
.sixshape .circle26 {
  position:absolute;
  top:324.913px;
  left:109.077px;
}
.sixshape .circle27 {
  position:absolute;
  top:333.216px;
  left:140.716px;
}
.sixshape .circle28 {
  position:absolute;
  top:320.539px;
  left:151.465px;
}
.sixshape .circle29 {
  position:absolute;
  top:317.629px;
  left:173.749px;
}
.sixshape .circle30 {
  position:absolute;
  top:289.132px;
  left:175.64px;
}
.sixshape .circle31 {
  position:absolute;
  top:320.539px;
  left:151.465px;
}
.sixshape .circle32 {
  position:absolute;
  top:238.652px;
  left:193.579px;
}
.sixshape .circle33 {
  position:absolute;
  top:216.427px;
  left:199.369px;
}
.sixshape .circle34 {
  position:absolute;
  top:183.95px;
  left:189.227px;
}
.sixshape .circle35 {
  position:absolute;
  top:171.291px;
  left:196.782px;
}
.sixshape .circle36 {
  position:absolute;
  top:151.704px;
  left:182.711px;
}
.sixshape .circle37 {
  position:absolute;
  top:141.349px;
  left:176.356px;
}
.sixshape .circle38 {
  position:absolute;
  top:121.186px;
  left:144.746px;
}
.sixshape .circle39 {
  position:absolute;
  top:117.155px;
  left:123.665px;
}
.sixshape .circle40 {
  position:absolute;
  top:117.155px;
  left:109.006px;
}
.sixshape .circle41 {
  position:absolute;
  top:118.343px;
  left:83.696px;
}
.sixshape .circle42 {
  position:absolute;
  top:125.903px;
  left:50.78px;
}
.sixshape .circle43 {
  position:absolute;
  top:148.521px;
  left:24.886px;
}

/* ********** 7 ********** */
.seven {
  width:273px;
}
.seven .stem.rightLeg {
  left: 265px;
}
.seven .crossbar {
  top:0px;
}
/* ********** 8 ********** */
.eight {
  width:221px;
}
.eight .leftLeg {
  left: 90px;
  transform: rotate(37deg);
}
/* ********** 9 ********** */
.nine {
  width:290px;
}
copy the 6 letter and flip it HERE
/* ********** 0 ********** */
.zero {
  width:230px;
}
.zero .stem.rightLeg {
  left: 265px;
  transform: rotate: 30deg;
}
/* ********** ! ********** */
.exclaim {
  width:390px;
}
.exclaim .stem.leftLeg {
  transform: scaleX(-1)rotate(-30);
}
.exclaim .circle15, .exclaim .circle16, .exclaim .circle17 {
  opacity: 0;
}
/* ********** ? ********** */
.question {
  width:390px;
}
.questionshape .circle1 {
    position:absolute;
    top:43.661px;
    left:25.283px;
}
.questionshape .circle2 {
    position:absolute;
    top:25.283px;
    left:10.713px;
}
.questionshape .circle3 {
    position:absolute;
    top:7.102px;
    left:28.796px;
}
.questionshape .circle4 {
    position:absolute;
    top:1.905px;
    left:59.044px;
}
.questionshape .circle5 {
    position:absolute;
    top:4.725px;
    left:79.766px;
}
.questionshape .circle6 {
    position:absolute;
    top:0.233px;
    left:91.8px;
}
.questionshape .circle7 {
    position:absolute;
    top:5.594px;
    left:111.572px;
}
.questionshape .circle8 {
    position:absolute;
    top:24.808px;
    left:139.147px;
}
.questionshape .circle9 {
    position:absolute;
    top:43.434px;
    left:153.172px;
}
.questionshape .circle10 {
    position:absolute;
    top:53.236px;
    left:155.87px;
}
.questionshape .circle11 {
    position:absolute;
    top:74.156px;
    left:150.034px;
}
.questionshape .circle12 {
    position:absolute;
    top:103.403px;
    left:144.836px;
}
.questionshape .circle13 {
    position:absolute;
    top:117.634px;
    left:121.606px;
}
.questionshape .circle14 {
    position:absolute;
    top:139.864px;
    left:113.972px;
}
.questionshape .circle15 {
    position:absolute;
    top:142.701px;
    left:94.833px;
}
.questionshape .circle16 {
    position:absolute;
    top:156.079px;
    left:85.619px;
}
.questionshape .circle17 {
    position:absolute;
    top:167.129px;
    left:71.438px;
}
.questionshape .circle18 {
    position:absolute;
    top:197.868px;
    left:76.422px;
}
.questionshape .circle19 {
    position:absolute;
    top:208.919px;
    left:70.586px;
}
.questionshape .circle20 {
    position:absolute;
    top:229.674px;
    left:65.586px;
}
.questionshape .circle21 {
    position:absolute;
    top:329.156px;
    left:69.749px;
}

/* ********** "" ********** */
.quote {
  width:390px;
}
.quoteshape .circle1 {
  position:absolute;
  top:1.341px;
  left:33.401px;
}
.quoteshape .circle2 {
  position:absolute;
  top:10.369px;
  left:19.739px;
}
.quoteshape .circle3 {
  position:absolute;
  top:28.452px;
  left:1.359px;
}
.quoteshape .circle4 {
  position:absolute;
  top:59.536px;
  left:2.349px;
}
.quoteshape .circle5 {
  position:absolute;
  top:82.619px;
  left:7.345px;
}
.quoteshape .circle6 {
  position:absolute;
  top:-0.335px;
  left:63.119px;
}
.quoteshape .circle7 {
  position:absolute;
  top:17.855px;
  left:45.587px;
}
.quoteshape .circle8 {
  position:absolute;
  top:48.322px;
  left:41.72px;
}
.quoteshape .circle9 {
  position:absolute;
  top:71.578px;
  left:45.697px;
}
Flip quoteshape to make right quote

/* ********** , ********** */
.comma {
  width:183px;
}
.commashape .circle1 {
  position:absolute;
  top:321.084px;
  left:0px;
}
.bauble{
  width:auto;
  height:200px;
}
.commashape .circle2 {
  position:absolute;
  top:350.512px;
  left:11.915px;
}
.commashape .circle3 {
  position:absolute;
  top:371.091px;
  left:10.548px;
}
/* ********** . ********** */
.period {
  width:290px;
}
/* ********** CIRCLES ********** */

.circle1 {
	width: 10px;
	height: 10px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle2 {
	width: 20px;
	height: 20px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle3 {
	width: 30px;
	height: 30px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle4 {
width: 20px;
height: 20px;
background-color: white;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
border-radius: 50px;
}
.circle5 {
width: 10px;
height: 10px;
background-color: white;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
border-radius: 50px;
}
.circle6 {
  width: 20px;
  height: 20px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle6 {
  width: 20px;
  height: 20px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle7 {
  width: 30px;
  height: 30px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle8 {
  width: 20px;
  height: 20px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle9 {
  width: 10px;
  height: 10px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle10 {
  width: 20px;
  height: 20px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle11 {
  width: 30px;
  height: 30px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle12 {
  width: 20px;
  height: 20px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle13 {
  width: 30px;
  height: 30px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle14 {
  width: 10px;
  height: 10px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle15 {
  width: 20px;
  height: 20px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle16 {
  width: 10px;
  height: 10px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle17 {
  width: 30px;
  height: 30px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle18 {
  width: 10px;
  height: 10px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle19 {
  width: 20px;
  height: 20px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle20 {
  width: 30px;
  height: 30px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle21 {
  width: 20px;
  height: 20px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle22 {
  width: 10px;
  height: 10px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle23 {
  width: 20px;
  height: 20px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle24 {
  width: 10px;
  height: 10px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle25 {
  width: 20px;
  height: 20px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle26 {
  width: 30px;
  height: 30px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle27 {
  width: 10px;
  height: 10px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle28 {
  width: 20px;
  height: 20px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle29 {
  width: 10px;
  height: 10px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle30 {
  width: 30px;
  height: 30px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle31 {
  width: 20px;
  height: 20px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle32 {
  width: 30px;
  height: 30px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle33 {
  width: 20px;
  height: 20px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle34 {
  width: 30px;
  height: 30px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle35 {
  width: 10px;
  height: 10px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle36 {
  width:20px;
  height: 20px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle37 {
  width: 10px;
  height: 10px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle38 {
  width: 30px;
  height: 30px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle39 {
  width: 20px;
  height: 20px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle40 {
  width: 10px;
  height: 10px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle41 {
  width: 20px;
  height: 20px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle42 {
  width: 30px;
  height: 30px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle43 {
  width: 30px;
  height: 30px;
  background-color: white;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
