body {
  background-color:#000000;
}
.navbar {
  font-family: 'Archivo', sans-serif;
  overflow: hidden;
    color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}

h1 {
  margin-left: 50px;
  font-family: 'Notable';
  font-size: 70px;
  font-weight: bold;
  top:100px;
  left:50px;
  color: white;
}
.blueh1 {
  color:#1933AA;
}
h3 {
  /* margin-left: 50px; */
  font-family: 'Archivo', sans-serif;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 40px;
  font-weight: lighter;
  color: white;
}
img {
  padding-left:20px;
  position:relative;
  float:right;
  width:700px;
}

.pullquote {
  width: 350px;
  padding-left: 30px;
  font-family: 'Archivo', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color:#B30000;
  line-height: 1.6;
  position: absolute;
  margin-left: 70px;
  top: 600px;
}
.text0 {
font-family: 'Archivo', sans-serif;
font-size: 13px;
line-height: 1.4;
height: 509px;
width: 462px;
margin-left: 50px;
position: absolute;
color: white;
column-count: 2;
column-width: 168px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
.title {
  font-family: 'Notable';
  font-size: 75px;
  font-weight: bold;
  position: absolute;
  top:50%;
  left:50%;
  color: white;
}
/* Linked Pieces */
.background {
  position: absolute;
  width: 1390px;
}
.water {
  position: fixed;
  width: 1434px;;
}
.biohover {
  position: absolute;
  width: 1390px;
}
.tirehover {
  position: absolute;
  width: 1390px;
}
.drowninghover {
  position: absolute;
  width: 1390px;
}
.tzinghover {
  position: absolute;
  width: 1390px;
}
/* .roy {
  padding-left:20px;
  position:relative;
  float:right;
  width:900px;
}
.drowninggirl {
  padding-left:20px;
  position:relative;
  float:right;
  width:900px;
}
.thetire {
  padding-left:20px;
  position:relative;
  float:right;
  width:900px;
}
.tzing {
  padding-left:20px;
  position:relative;
  float:right;
  width:900px;
} */
