a {
  color:red;
}

body {
  background-color:black;
}
body:hover {
  color:yellow;
}
.navbar {
  font-family: 'Archivo', sans-serif;
  overflow: hidden;
  color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}

h1 {
  margin-left: 50px;
  font-family: 'Notable';
  font-size: 70px;
  font-weight: bold;
  color: white;
  z-index: 100;
  position: relative;
}

/* .blueh1 {
  color:#1933AA;
} */

h3 {
  /* margin-left: 50px; */
  font-family: 'Archivo', sans-serif;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 40px;
  font-weight: lighter;
  color: white;
}
img {
  padding-left:20px;
  position:relative;
  float:right;
  width:700px;
}

.pullquote {
  width: 221px;
  padding-left: 50px;
  font-family: 'Archivo', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  color: #B30000;
  line-height: 1.2;
  position: absolute;
  top: 353px;
}
.text0 {
font-family: 'Archivo', sans-serif;
font-size: 13px;
line-height: 1.4;
height: 509px;
width: 462px;
margin-left: 50px;
position: absolute;
color: white;
column-count: 2;
column-width: 168px;
}

.text1 {
font-family: 'Archivo', sans-serif;
font-size: 12px;
line-height: 1.4;
height: 86px;
width: 209px;
position: absolute;
color: white;
/* column-width: 168px; */
left: 297px;
top:347px;
}

.biotext {
  font-family: 'Archivo', sans-serif;
  font-size: 12px;
  line-height: 1.4;
  height: 86px;
  width: 209px;
  position: absolute;
  color: white;
      /* column-width: 168px; */
  left: 297px;
  top: 660px;
}
.drowningtext {
  font-family: 'Archivo', sans-serif;
  font-size: 12px;
  line-height: 1.4;
  height: 86px;
  width: 209px;
  position: absolute;
  color: white;
      /* column-width: 168px; */
  left: 297px;
  top: 660px;
}
.tzingtext {
  font-family: 'Archivo', sans-serif;
  font-size: 13px;
  line-height: 1.4;
  height: 509px;
  width:217px;
  margin-left: 50px;
  position: absolute;
  color: white;
  column-count: 2;
  column-width: 168px;
}
.thetiretext {
  font-family: 'Archivo', sans-serif;
  font-size: 12px;
  line-height: 1.4;
  height: 86px;
  width: 209px;
  position: absolute;
  color: white;
  /* column-width: 168px; */
  left: 297px;
  top:544px;
}




.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
.title {
  transform: translate(-50%,-50%);
  cursor: pointer;
  font-family: 'Notable';
  font-size: 130px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  color:orange;
  z-index: 10;
}
.title:hover {
  color:yellow;
}

/* Images */

.background {
  position: absolute;
  width: 1390px;
}

.water {
  position: fixed;
  top: 0px;
  float: left;
  width: 1539px;
  left: -20px;
}
.zig {
  position: fixed;
  top: 0px;
  float: left;
  width: 1311px;
  left: -200px;
}
.lines {
  position: fixed;
  top: 0px;
  float: left;
  width: 1340px;
  left: -41px;
}
.drowninggirl {
  position: absolute;
  top: 0;
  float: right;
  width:783px;
  left: 559px;
}
.drowninghover {
  position: absolute;
  top: 359px;
  left: 347px;
  width: 710px;
  z-index: 1;
}
.drowninghover:hover {
    transform: scale(2, 2);
    transition: all 500ms ease;
}
.roy {
  position: absolute;
  top: 156px;
  float: right;
  width: 968px;
  left: 559px;
  object-fit: cover;
}
.roytext {
    font-family: 'Archivo', sans-serif;
    font-size: 13px;
    line-height: 1.4;
    height: 509px;
    width: 169px;
    margin-left: 50px;
    position: absolute;
    color: white;
    /* column-count: 2; */
  /* column-width: 797px; */
}

.thetire {
position: absolute;
top: 0;
float: right;
width: 700px;
left: 559px;
}
.tirehover {
  position: fixed;
  width: 812px;
}
.tirehover:hover {
    transform: scale(2, 2);
    transition: all 500ms ease;
}

.tzing {
  position: absolute;
  top: 0;
  float: right;
  width: 576px;
  left: 559px;
}
.tzinghover {
  position: fixed;
  width: 1198px;
  left: 400px;
}
.tzinghover:hover {
    transform: scale(3, 3);
    transition: all 500ms ease;
}

@keyframes button-18 {
  50% {
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    transform: translateX(-3px) rotate(-2deg);
  }
}
.button-18 {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.button-18:hover, .button-18:focus, .button-18:active {
  animation-name: button-18;
  animation-duration: 0.15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background:blue;
}
}

/* Small Screen Version */
@media only screen and (max-width:480px) {
  .drowninggirl {
    position: fixed;
    width: 480px;
    left: 0;
  }

  .water {
    display:none;
  }

  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 10px;
  }

  h1 {
    font-family: 'Notable';
    font-size: 44px;
    font-weight: bold;
    top: 100px;
    color: white;
  }
  .text0 {
    font-family: 'Archivo', sans-serif;
    font-size: 10px;
    line-height: 1.2;
    height: 358px;
    width: 156px;
    margin-left: 30px;
    position: absolute;
    color: white;
    column-count: 2;
    column-width: 100px;
  }
  .text1 {
    font-family: 'Archivo', sans-serif;
    font-size: 8px;
    line-height: 1.4;
    height: 86px;
    width: 121px;
    position: absolute;
    color: white;
    /* column-width: 168px; */
    left: 207px;
    top: 842px;
    }
  }
}
