* {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: 'Trebuchet MS', monospace;
	font-size: 20px;
	font-weight: normal;
	background-color: pink;
}

/* this is a comment */

#container {
	width:500px;
	margin: 0 auto;
}

#exercises, #projects {
	margin: 40px 0px;
}

h1 {
	color:Red;
	font-size:15pt;
}

h1, h2, h3 {
	margin: 20px 0;
    font-size:15pt;
		color: white;
}

p {
	margin: 20px 0;
	font-size:8pt;
	line-height: 150%;
	color: white;
}

ul {
	list-style-type: none;
}

a {
	color:white;
}

a:hover {
	color:red;
}

.photo {
	width: 20px;
}
